/TowerDefenceGame/Debug/*.exe
/TowerDefenceGame/Debug/*.ilk
/TowerDefenceGame/Debug/*.pdb
/TowerDefenceGame/TowerDefenceGame/Debug/*.obj
/TowerDefenceGame/TowerDefenceGame/Debug/*.log
/TowerDefenceGame/TowerDefenceGame/Debug/TowerDefenceGame.tlog/*.tlog
/TowerDefenceGame/TowerDefenceGame/Debug/TowerDefenceGame.tlog/*.lastbuildstate
/TowerDefenceGame/TowerDefenceGame/Debug/*.idb
/TowerDefenceGame/TowerDefenceGame/Debug/*.pdb
.vs
/TowerDefenceGame/.vs/TowerDefenceGame/v15/.suo
/TowerDefenceGame/.vs/TowerDefenceGame/v15/Browse.VC.db
/TowerDefenceGame/.vs/TowerDefenceGame/v15/ipch/AutoPCH/e6b4832ff66e719c/MAIN.ipch
